@use "./variables"as var;
@use "./mixin"as mix;

// components
@use "./components/navbar";
@use "./components/form-box";
@use "./components/card";
@use "./components/filter";
@use "./components/alert";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1450px;
  padding: 0 5rem;
  margin: auto;
}

.content {
  @include mix.flexBox();
}

.btn {
  cursor: pointer;
  padding: .5rem;
  border-radius: 5px;
}

.highlight {
  background-color: red;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(7px);
  }

  100% {
    transform: translateX(0);
  }
}